*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.flex-container{
   
    display: flex;
   
    background-color: #f4f4f4;
     /* Justify Content is always on the main axis 
    /* justify-content: end; */
    /* Align item on the cross axis  */
   /* align-items: start ; */
   
  


}

.item{
    width: 100px;
    height: 100px;
    background: #254de4 ;
    margin: 10px;
    color: white;
    float: left;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* Align Self https://youtu.be/3YW65K6LcIA?t=722*/



/* https://youtu.be/3YW65K6LcIA?t=777 */
/* When it is column the main axis is verticle and cross axis is horizontal */